body {
  background-color: gray;
}


a {
  color: purple;
  text-decoration: underline;
}

span {
  color: purple;
}

.box {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: black;
  height: 520px;
  left: 50px;
  position: absolute;
  width: 800px;
}

.boxtop {
  background-color: #F7B617;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  height: 50px;
  margin-bottom: 15%;
  position: absolute;
  text-align: center;
  width: 799px;
}

.box1 {
  background-color: white;
  display: block;
  float: left;
  height: 80%;
  margin-top: 6%;
  position: relative;
  width: 33.3%;
}

.box2 {
  background-color: white;
  display: block;
  float: left;
  height: 80%;
  margin-bottom: 0%;
  margin-top: 6%;
  border-left: 1.3px solid black;
  border-right: 1.2px solid black;
  position: relative;
  width: 33%;
}

.box3 {
  background-color: white;
  display: block;
  float: right;
  height: 80%;
  margin-bottom: 0%;
  margin-top: 6%;
  position: relative;
  width: 33.3%;
}

.boxbottom {
  background-color: #F7B617;
  border-bottom: 1px solid black;
  display: block;
  float: bottom;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  overflow: auto;
  text-align: center;
  width: 798px;
}

.img1 {
  box-sizing: content-box;
  height: 140px;
  left: 18%;
  position: relative;
  width: 180px;
}

.img2 {
  box-sizing: content-box;
  height: 120px;
  left: 18%;
  position: relative;
  width: 140px;
}

.paragraph {
  box-sizing: content-box;
  font-size: 15px;
  padding: 3%;
  text-align: justify;
}

.title {
  font-size: 30px;
  text-align: center;
}
