body {
  background-color: white;
}

div #title {
  background-color: #F7B617;
  display: line;
  font-size: 25px;
  height: 3em;
  border: 1px solid black;
  margin-left: 2em;
  margin-bottom: none;
  padding-top: 1px;
  position: relative;
  text-align: center;
  width: 36em;
}

div #subtitle {
  background-color: yellow;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  display:inline-block;
  font-size: 22px;
  height: 16em;
  margin-left: 50px;
  margin-top: none;
  padding: 2%;
  position: relative;
  text-align: center;
  width: 11em;
}

div #subtitle1 {
  background-color: yellow;
  border: 1px solid black;
  border-top: none;
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  height: 16em;
  margin-left:none;
  padding: 2%;
  position: relative;
  text-align: center;
  width: 11em;
}

div #subtitle2 {
  background-color: yellow;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  display: inline-block;
  font-size: 22px;
  height: 16em;
  margin-left: none;
  padding: 2%;
  position: relative;
  text-align: center;
  width: 11em;
}

.image {
  box-sizing: content-box;
  display: block;
  margin-left: 40px;
  width: 170px;
}

.paragraph1 {
  background-color: white;
  box-sizing: border-box;
  font-size: 15px;
  text-align: justify;
  display: block;
  width: 16em;
}
