body {
  background-color: gray ;
}


.first {
  background-color: #EEEDEC;
  display: inline-block;
  float: left;
  height: 16em;
  margin: 1px solid gray;
  padding: 1em;
  width:12em;
}

.first:hover {
  background-color: white;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  box-sizing: content-box;
  color: #B6B5B5;
  font-size: 12px;
  font-family: 'Do Hyeon', sans-serif;
  text-align: justify;
}

.subtitle {
  color: #B6B5B5;
  font-size: 16px;
  font-family: 'Jua', sans-serif;
  text-align: center;
}

.title {
  color: #B6B5B5;
  font-size: 20px;
  font-family: 'Prompt', sans-serif;
  text-align: center;
}
