body {
  background-color: white;
}

.box_1 {
  background-color: #D6D5D5;
  border: 1px solid black;
  height: 28em;
  left: 35%;
  position: relative;
  width: 17em;
}

.first {
  background-color: #D6D5D5;
  color: black;
  display: block;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
  margin-left: 10px;
}

.first:hover {
  background-color: #F7B617;
  color: white;
}

.second {
  background-color: #D6D5D5;
  color: black;
  display: block;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
  margin-left: 10px;
}

.second:hover {
  background-color: #B5B4B4;
}

.third {
  background-color: #D6D5D5;
  color: black;
  display: block;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
  margin-left: 10px;
}

.third:hover {
  background-color: #B5B4B4;
}

.fourth {
  background-color: #D6D5D5;
  color: black;
  display: block;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
  margin-left: 10px;
}

.fourth:hover {
  background-color: #B5B4B4;
}

.fifth {
  background-color: #D6D5D5;
  color: black;
  display: block;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5em;
  margin-left: 10px;
}

.fifth:hover {
  background-color: #B5B4B4;
}

.title {
  color: black;
  font-size: 2em;
  font-family: 'Prompt', sans-serif;
  margin-left: 10px;
  padding: 1px;
  text-align: left;
}
